<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>LiquidSC - <%=title %></title>

            <!-- styles -->
            <link rel="stylesheet" href="/static/css/bootstrap.min.css" />

        </head>
        <body>
            <% include partials/header.ejs %>
            <div id="main">
                <%- body %>
            </div>
        </body>
</html>