<% layout('index') -%>
<div class="container password-reset">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <p class="text-title text-center">Update password</p>
            <% if (!data.success) { %>
                <form action="/api/auth/reset-password" method="post">
                    <% if (data.error) { %>
                        <div class="alert alert-danger"><%=data.error%></div>
                    <% } %>
                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        <input class="form-control" name="password" type="password" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <input class="form-control" name="confirmPassword" type="password" />
                        <input type="hidden" name="code" value=<%=data.code%> />
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            <% } %>
            <% if (data.success) { %>
                <div class="text-center">
                    <i class="fa fa-check-circle text-success text-display-4"></i>
                    <p class="text-title">Success!</p>
                </div>
            <% } %>
        </div>
    </div>
</div>