.card {
  text-align: center;
  border: 1px solid #eee;
  margin-bottom: 20px;
  height: 350px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  .card-content {
    height: 270px;
    h2 {
      margin-top: 0;
    }
  }
}