.user-view {
  .active-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.checkbox-list {
  max-height: 400px;
  overflow: auto
}

.actions button {
  margin-left: 5px;
}

.home-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}