.user-view {
  .active-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.checkbox-list {
  max-height: 400px;
  overflow: auto
}

.actions button {
  margin-left: 5px;
}

.home-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: 600;
    color: #0aabe1;
  }

  > .flex-item {
    font-size: 16px;
  }

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 150px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 280px
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #2D99BA;
  //background-image: url("/images/seigaiha.png");
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}

