.navbar-inverse {
  background-color: #56a887 !important;
  margin-bottom: 0 !important;
  .navbar {

  }

  .navbar-nav>.active>a, .navbar-nav>.active>a:focus {
    background-color: lighten(#56a887, 10%) !important;
  }
}

.flex {
  display: flex;
  &.center {
    align-items: center;
  }
  &.column {
    flex-direction: column;
  }

  .flex-item {
    flex: 1;
  }
}

.nobox {
  margin: 0;
  padding: 0;
}

.required {
  &:after {
    content: "*";
    color: red
  }
}

.capitalize {
  text-transform: capitalize;
}

.hero {
  background-image: linear-gradient(to bottom,#56a887 0, #69be9c 100%);
  padding: 80px;
  text-align: center;
  color: white;
  //position: absolute;
  //left: 0;
  //right: 0;

  h1,h2 {
    color: inherit;
  }
}