//@import "custom/main";
@import "variables";
@import "toastr";
@import "utils";
@import "home";
@import "admin";
@import '~react-select/scss/default.scss';
@import "footer";
@import "signup";


.react-datepicker {
  font-size: 14px !important;
}

#main {
  height: 100vh;
}

.react-datepicker__day-name, .react-datepicker__day {
  width: 25px !important;
}

.site-content {
  padding-bottom: 30px;
  margin-top: 74px;
  padding-top: 20px;
}