<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear User</p>
<p>
    We’re pleased to inform you that your account has been activated. <br>
    Click Login : <a href="http://alchcapital.com/login">http://alchcapital.com/login</a> <br>
    Should you have have queries, please write to us at support@alchcapital.com and quote your Registration ID.
</p>
<hr>
<p>
    Best Wishes <br>
    ALCH (Supply Chain Financing) <br>
    www.alchcapital.com <br>
</p>
</body>
</html>