<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear Borrower</p>
Your application <%= app._id %> has been received. We shall review the details and update you whether further information is required.
<br>
A request for receivable approval has been sent to the respective Buyer.
<br>
Once the Loan request is approved by ALCH, your Loan application will go live on ALCH platform and would be open to bidding by multiple lenders.
<br>
The Lender(s) who offers the lowest interest and most attractive loan terms will be selected using our Proprietary  Algorithm.

<p>
    You may check the Loan Application Status on your Dashboard : <a href="http://alchcapital.com/login">http://alchcapital.com/login</a>
    <br>
    Should you have have queries, please write to us at support@alchcapital.com and quote your Loan Application ID.
</p>

<hr>
<p>
    Best Wishes <br>
    ALCH (Supply Chain Financing) <br>
    www.alchcapital.com <br>
</p>
</body>
</html>