<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear Lender</p>
<p>
    Please note that your Bid for Loan ID <%= loan._id %> has been accepted. <br>
    You’re now required to sign the Loan Agreement with the borrower, followed by proceeding to funding the loan as per Loan agreement terms.
</p>
<p>
    Login here : <a href="http://alchcapital.com/login">http://alchcapital.com/login</a>
    Should you have have queries, please write to us at support@alchcapital.com and quote your Registration ID.
</p>

Best Wishes
ALCH (Supply Chain Financing)
www.alchcapital.com

</body>
</html>