<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear Lender</p>
<p>
    You have received the Lending opportunities for review & bidding.
    Please note that the bidding process is time bound and may be revised from time to time at ALCH’s discretion.
    <br>
    Login here : <a href="http://alchcapital.com/login">http://alchcapital.com/login</a>
    <br>
    Should you have have queries, please write to us at support@alchcapital.com and quote your Registration ID.
</p>
<hr>
<p>
    Best Wishes <br>
    ALCH (Supply Chain Financing) <br>
    www.alchcapital.com <br>
</p>
</body>
</html>