<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear Buyer</p>
<p>
    Your supplier has requested an approval of the attached receivable copy in order to secure financing via discounting the receivable.
    You supplier’s improved liquidity enables you to extend your Payable Days, enhance cash flow and net margins.
</p>

<p>
    Please register/login to ALCH platform to address the request at the earliest. <a href="http://alchcapital.com/signup">http://alchcapital.com/signup</a>
</p>

<hr>
<p>
    Best Wishes <br>
    ALCH (Supply Chain Financing) <br>
    www.alchcapital.com <br>
</p>
</body>
</html>