<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Dear <%= user.name %>,</p>
<p>
    Your registration request has been received (<%= user._id %>). We shall review and address your request shortly.
</p>
<p>
    Should you have have queries, please write to us at support@alchcapital.com and quote your Registration Request ID.
</p>
<hr>
<p>

    Best Wishes <br>
    ALCH (Supply Chain Financing) <br>
    <a href="www.alchcapital.com">www.alchcapital.com</a> <br>
</p>
</body>
</html>